@use "/styles/_variables.scss" as var;

.header {
  .triangle {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 51vw 35px 48vw;
    border-color: transparent transparent #fbb41e transparent;
    transform: rotate(180deg);
  }
}
